<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="Browser" value="Chrome"/>
    <add key="Email_address" value=""/>
    <add key="Password" value=""/>
    <add key="URL" value="http://automationpractice.com/index.php"/>
    <add key="PageLoadTimeout" value="40"/>
    <add key="ElementLoadTimeout" value="2" />
    
  </appSettings>
</configuration>